<h1 class="form-text-color">Edit <%= @listing.title %></h1>
<div class="content">
    <%= render 'form', listing: @listing %>
    <%= link_to 'Back', listings_path(@listing), class: 'back-btn' %>
</div>