<%# NAVBAR WILL BE HERE %>
<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= asset_path 'chi.jpg' %>); min-height: 100vh;">
  <h1 class = "header">About Us</h1>
    <p class = "info">As gardeners we love to incorporate creative pieces of art into our outdoor spaces to generate<br> a feeling of vibrancy and individuality.<br> We aspire to help you create your own beautiful aesthetic that reflects your own vision. <br>This is our platform to share inspiring garden art pieces with you. <br><br>We hope you find what you're looking for,<br>The Garden Art Team.</p>
  <%= button_to "View Listings", listings_path, class:'sign-up-button', method: :get %>
</div>
 
