<h2>All Orders</h2>

<% @orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Cart Listings: </p>
  <ul>
    <% order.cart_listings.each do |item| %>
    <li><%= item.quantity %> x <%= item.listing.title %></li>
    <% end %>
  </ul>
<% end