<h1>Your Cart</h1>

<ul>
  <% @cart.each do |listing| %>
    <li><%= listing.title %> | <%= number_to_currency(listing.price) %></li>
  <% end %>
</ul>

<%= link_to "Proceed to checkout", "", id: "stripe", class: 'success-btn' %>

<%= javascript_pack_tag "stripe" %>

